.note-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  gap: 1rem;
}

.note-card {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  background-color: rgb(155, 149, 149);
  margin-right: 10px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-color: #ccbaaa;
  text-align: center;
}
.name {
  font-size: 1.3rem;
}
.note {
  font-size: 1.3rem;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #f8d8bd;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #fae5d3;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.card {
  border-radius: 11px;
  width: 100%;
  background-color: #fae5d3;
  padding: 2rem;
  position: relative;

  /* overflow: hidden; */
}
.card-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.card-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
}
.reminder {
  background-color: #f8d8bd;
}

.card-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: rgb(97, 96, 96);
}
.margin-top-lg {
  margin-top: 3.2rem;
}

.delete-btn {
  margin-top: 1rem;
  border: none;
  padding: 0.9rem;
  background-color: #c5bab0;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 3rem;
  text-decoration: none;
}
