<form class="container" [formGroup]="noteForm" (ngSubmit)="onSubmit()">
  <h2>Take your note here</h2>
  <div class="margin-bottom-sm">
    <label class="note-label">Note type</label>
    <select class="note-input" formControlName="type">
      <!-- <option selected>Please choose one option</option> -->
      <option>Regular</option>
      <option>Reminder</option>
      <option>Todo</option>
      <option>Bookmark</option>
    </select>
  </div>
  <div>
    <label class="note-label">Note</label>
    <input class="note-input" formControlName="note" />
  </div>
  <div
    *ngIf="noteForm.value.type === 'Todo' || noteForm.value.type === 'Reminder'"
  >
    <div>
      <label class="note-label">Date</label>
      <input class="note-input" formControlName="date" type="date" />
    </div>
  </div>
  <div
    *ngIf="noteForm.value.type === 'Todo' || noteForm.value.type === 'Reminder'"
  >
    <div>
      <label class="note-label">Time</label>
      <input class="note-input" formControlName="time" type="time" />
    </div>
  </div>

  <button class="main-nav-link nav-cta">Update</button>
</form>
